.css-button-rounded--sky {
    min-width: 130px;
    height: 40px;
    color: yellow;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #4433ff;
    background: #4433ff;
}

.css-button-rounded--sky:hover {
    background: #fff;
    color: #4433ff
}

.input {
    background-color: #4433ff;
    color: white;
    margin-right: 10px;
    text-decoration-color: #fff;
}

.input::placeholder {
    color: yellow;
    font-weight: bold;
}